/*
Deleting normalize dependency to temporarily resolve error

Error: /Applications/MAMP/htdocs/emberconf-2014-demo/tmp/template_filter-tmp_dest_dir-4MauhBLC.tmp/emberconf-2014-demo/styles/app.scss:6: error: file to import not found or unreadable: 'normalize'
 [string exception]
*/
/*@import 'normalize';*/

/* Put your CSS here */
$footer-height: 100px;
$main-width: 60em; /* 960px */

$main-bg: #a5a5a5;
$main-bg2: #8b8b8b;
$color-1: #0381e0;
$color-2: #0464ad;
$color-3: #03477a;


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: lighten($main-bg, 5%);
}

html, body {
  height: 100%;
}

.ember-application > .ember-view {
  height: 100%;
}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  max-width: $main-width;
  margin: 0 auto;
  background-color: $main-bg;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

a {
  color: white;
}

button {
  padding: .5em 1em;
  margin: 0;
  line-height: 1.5;
  border: 1px solid black;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.ember-text-field {
  padding: 1em;
  border: 1px solid black;
}

label,
.ember-radio-button {
  cursor: pointer;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
  padding: 0 1em;
  -webkit-box-shadow: 0px 0px 20px -1px;
  box-shadow: 0px 0px 20px -1px;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}
footer {
  background-color: $color-1;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
}

header {
  background-color: $main-bg2;
  margin: 0 -1em;
  padding: 1em;
  h1 {
    padding-top: .67em;
    margin-top: 0;
    a {
      text-decoration: none;
      text-shadow: 1px 1px 1px black;
    }
  }
}

.plain-list {
  list-style-type: none;
}

.transferring-funds {
  float: right;
  padding-right: 20%;
}

.main-nav {
  background-color: $color-2;
  margin: 0 -1em;
  padding: 0 1em 0 0;
  ul {
    list-style-type: none;
    width: 50%;
    height: 100%;
    margin: 0;
    padding-left: 0;
    float: left;
    li {
      float: left;
      height: 3em;
      line-height: 3;
      a {
        display: block;
        width: 7em;
        text-align: center;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
        &:hover,
        &:focus {
          background-color: darken($color-2, 10%);
        }
      }
    }
  }
  .logout-btn {
    float: right;
    margin-top: 1em;
  }
}

.login-form {
  input {
    margin: 2em;
  }
}

.success,
.error {
  padding: 5px;
}
.success {
  border: 2px solid green;
  background-color: lightgreen;
}
.error {
  border: 2px solid darkred;
  background-color: red;
}

.recover-info {
  border-top: 1px solid $main-bg2;
  list-style-type: none;
  padding: 1em;
  margin: 0;
  li {
    padding-bottom: 1em;
  }
}

.accounts,
.accounts-details {
  display: inline-block;
}

.accounts-details {
  margin-left: 5em;
}

.accounts-ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  border: 1px solid black;
  display: inline-block;
  li {
    a {
      padding: 1em 2em;
      display: block;
      -webkit-transition: .25s;
      transition: .25s;
      &:hover, &:focus {
        background-color: darken($main-bg, 10%);
      }
      &.active {
        background-color: darken($main-bg, 5%);
      }
    }
  }
}

.total-amt-text {
  font-size: 2em;
}

.flex-continer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.met { color: green; }
