# Always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Always-ignore directories
doc/
backups/
demo/
node_modules/
bower_components/

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# SublimeText project files
/*.sublime-project
*.sublime-workspace
sftp-config*.json
