<h2>Reset Password</h2>

<form method="post" action="">
  <label for="password1">New Password {{input type="text" id="password1" name="password1" value=password1}}</label>
  <label for="password2">Reenter New Password {{input type="text" id="password2" name="password2" value=password2}}</label>

  <button {{action "resetPassword"}}>Reset Password</button>
</form>
