<h3>Authenticate</h3>

<p>Please check your target delivery method for the one-time-password.</p>

<form action="" method="post">
  <label for="otp">One Time Password {{input type="text" name="otp" id="otp" value=otp}}</label>
  <button {{action "submit"}}>Submit</button>
</form>
