<h3>Register Device</h3>

<p>Would you like to register this device?</p>

<form action="" method="post">
  <ul class="plain-list">
  {{#radiogroup name="register" value=shouldRegister}}
    <li><label for="register-yes">{{radio id="register-yes" value="true"}} Yes, this is a trusted device.</label></li>
    <li><label for="register-no">{{radio id="register-no" value="false"}} No, this is a shared device.</label></li>
  {{/radiogroup}}
  </ul>
  <button {{action "registerDevice"}}>Submit</button>
</form>
