<h3>Setup</h3>

<form action="" method="post">
  <label for="new-otp-method">Phone or Email {{input type="text" id="new-otp-method" name="new-otp-method" value=newvalue}}</label>
  <button {{action "save"}}>Save</button>
</form>
