<div class="accounts-details">
  <h3>{{name}} Account</h3>
  <p><em>Total Amount:</em> <strong class="total-amt-text">${{amount}}</strong></p>
  <button {{action 'cycleAccounts' this.id}}> Go To Next Account </button>
</div>
