<div class="page-wrap">
  <header>
    <h1>{{#link-to 'accounts'}}Online Bank{{/link-to}}</h1>
  </header>

  {{outlet}}
</div>
<footer>
  {{#link-to 'contact'}}Contact Us{{/link-to}}
  {{#third-party href="http://fdic.gov/"}}Member FDIC{{/third-party}}
</footer>
