<h1>{{#link-to 'accounts'}}Online Bank{{/link-to}}</h1>

{{outlet}}

<footer>
  {{#link-to 'contact'}}Contact Us{{/link-to}}
  {{#third-party href="http://fdic.gov/"}}Member FDIC{{/third-party}}
</footer>
