<h2>Authenticated</h2>
<button {{action "logout"}}>Logout</button>

<nav class="main-nav">
  <ul>
    <li>{{#link-to 'accounts'}}Accounts{{/link-to}}</li>
    <li>{{#link-to 'transfers'}}Transfers{{/link-to}}</li>
    <li>{{#link-to 'statements'}}Statements{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
