<h2>Electronic Signature - Do Not Accept</h2>

<p>If you don’t accept these agreements, you won’t be able to:</p>
<ul>
  <li>foo</li>
  <li>bar</li>
  <li>baz</li>
</ul>
<p><b>IMPORTANT NOTICE:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum vitae consequatur vero quas eveniet. Iste, sequi, similique saepe enim est magni aliquam earum quasi alias labore animi ipsam. Illo, magni?</p>
