<h2>Forgot Password</h2>

<form method="post" action="">
  <label for="username">Username {{input type="text" id="username" name="username" value=username}}</label>
  <label for="phonenumber">Phone Number {{input type="text" id="phonenumber" name="phonenumber" value=phonenumber}}</label>

  <button {{action "submit"}}>Email Instructions</button>
</form>

<p>Still need help? {{#link-to 'contact'}}Find out how to reach us!{{/link-to}}</p>

<p>{{#link-to "login"}}Back to login.{{/link-to}}</p>
