<h2>Recover Password</h2>

<form method="post" action="">
  <label for="username">Username {{input type="text" id="username" name="username" value=username}}</label>
  <label for="ssn">Social Security Number {{input type="text" id="ssn" name="ssn" value=ssn}}</label>

  <button {{action "recoverPasswordOneTimePassword"}}>Recover Password</button>
</form>

<p>Still need help? {{#link-to 'contact'}}Find out how to reach us!{{/link-to}}</p>

<p>{{#link-to "login"}}Back to login.{{/link-to}}</p>
