<h2>Recover Username</h2>

<form method="post" action="">
  <label for="email">Email {{input type="text" id="email" name="email" value=email}}</label>
  <label for="ssn">Social Security Number {{input type="text" id="ssn" name="ssn" value=ssn}}</label>

  <button {{action "recoverUsername"}}>Email Username</button>
</form>

<p>Still need help? {{#link-to 'contact'}}Find out how to reach us!{{/link-to}}</p>

<p>{{#link-to "login"}}Back to login.{{/link-to}}</p>
